@page "/MasterFilm"
@using System.ComponentModel.DataAnnotations
@using ModelDB
@using MudBlazor
@using Service

@inject IFilmService Film

@if( AllFilm != null) {
<PageTitle>Film</PageTitle>
<h1>Film</h1>
<br />
<MudTable Items="@AllFilm" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nama</MudTh>
        <MudTh>Harga</MudTh>
        <MudTh>Jam</MudTh>
        <MudTh>Rating</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.IdFilm</MudTd>
        <MudTd DataLabel="Nama">@context.NamaFilm</MudTd>
        <MudTd DataLabel="Harga">@context.Harga</MudTd>
        <MudTd DataLabel="Jam">@context.Jam</MudTd>
        <MudTd DataLabel="Rating">@context.JenisRating()</MudTd>
        <MudTd><MudLink @onclick="@(() => FilmSelect(context))">Select</MudLink></MudTd>
    </RowTemplate>
</MudTable>
}
<br />
<EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
<DataAnnotationsValidator/>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Nama Film" HelperText="Minimal 3 Karakter" Class="mt-3"
                              @bind-Value="Model.NamaFilm" For="@(() => Model.NamaFilm)"/>
                <MudNumericField Label="Harga" Class="mt-3"
                              @bind-Value="Model.Harga" For="@(() => Model.Harga)" />   
                <MudTextField Label="Jam" Class="mt-3"
                              @bind-Value="Model.Jam" For="@(() => Model.Jam)" />   
                <MudSelect @bind-Value="Model.Rating" Label="Rating">
                    <MudSelectItem Value=0></MudSelectItem>
                    <MudSelectItem Value=7></MudSelectItem>
                    <MudSelectItem Value=13></MudSelectItem>
                    <MudSelectItem Value=17></MudSelectItem>
                </MudSelect>     
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Simpan</MudButton>
                @if(Model.IdFilm > 0){
                <MudButton OnClick="DelFilm" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto">Delete</MudButton>
                }
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
            @if (success)
            {
                <MudText Color="Color.Success">Success</MudText>
            }
            else
            {
                <MudText Color="@Color.Error">
                    <ValidationSummary />
                </MudText>
            }
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.body2" Align="Align.Center">
            Fill out the form correctly to see the success message.
        </MudText>
    </MudItem>
</MudGrid>
</EditForm>

@code {
    FilmForm Model = new FilmForm();
    bool success;    
    List<Film> AllFilm = new List<Film>();
    bool _loading = false;
    protected override async Task OnInitializedAsync()
    {
        loadData();
    }
    void FilmSelect(Film i)
    {
        Model = new FilmForm{
            IdFilm = i.IdFilm,
            NamaFilm = i.NamaFilm,
            Harga = i.Harga,
            Jam = i.Jam,
            Rating= i.Rating
        };
    }
    private async void OnValidSubmit(EditContext context)
    {
        if(Model.IdFilm > 0){
            Film.UpdFilm(Model.ToBase());
        }else{
            Film.AddFilm(Model.ToBase()); 
        }
        loadData();
        
    }

    public async void loadData(){
        _loading = true;
        Model = new FilmForm();
        await InvokeAsync(StateHasChanged);
        AllFilm = await Film.GetFilm();
        _loading = false;
        StateHasChanged(); 
    }

    private void DelFilm(EventArgs e){
        Film.DelFilm(Model.ToBase());
        Model = new FilmForm();
        loadData();
    }
}